<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estructuras de Datos</title>
</head>
<body>
      <h2>estructura de datos</h2>
      <h3>listas</h3>
      <h4>cartelera de cine</h4>
    <ol>
        <li>{{movies[0]}}</li>
        <li>{{movies[1]}}</li>
        <li>{{movies[2]}}</li>
    </ol>
    <h3>Diccionarios</h3>
      <h4>Pelicula destacada</h4>
        <p>La pelicula destacada del dia de hoy es:
        {{ destacada ["Nombre"]}}, la cual fue estrenda el año {{destacada["año"]}} y
            cuyo protagonista es : {{destacada["protagonista"]}}
        </p>

            <h3> clases</h3>
            <h4>Pelicula Favorita</h4>
            <p>
                Mi pelicula favorita es : {{favorita.nombre}} que fue estrenada el año: {{favorita.año}} y su su protagonistas es: {{favorita.protagonista}}

            </p>

</html>